.mainContainer {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    width: 240px;
    height: 400px;
    text-align: right;
    padding: 0 15px;
    overflow: hidden;
    direction: rtl;
    margin: 0 10px;
}

.productName{
    font-size: 10.5px;
    margin: 0;
    margin-bottom: 10px;
    line-height: 2em;
}

.priceContainer {
    height: 3em;
    color: black;
    line-height: 1.5em;
  }
  .priceDetail{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .priceBeforeOff {
    color: black;
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 0.1em;
    font-size: 11px;
  }
  .offPrcent {
    text-align: center;
    width: 3em; 
    font-size: 0.9em;
    border-radius: 1em;
    height: 1.7em;
    border-style: none;
    background-color:  rgb(253, 231, 200);
    color: black;  
    padding: 5px;
}
.incredibleOfferImageContainer{
  padding-top: 15px;
  height: 40px;
}